.log-box {
    text-align: center;
}

.log-header {
    text-align: center;
    margin-top: 200px;
}

input {
    margin: 5px;
}

body {
    margin-top: 100px;
}

.icon {
    width: 50px;
    color: white;
}

.icon:hover {
    opacity: 70%;
}