@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    background-image: linear-gradient(rgb(91, 83, 130), rgb(171,163,210));
}

main {
    position: relative;
    margin: 0 auto;
    border: 5px solid black;
    width: 380px;
    height: 700px;
    border-radius: 25px;
    padding: 10px;
    background-image: url("./images/backsplash3.png");
    background-size: cover;
    box-shadow: 5px 5px 5px black;
}

.log-box {
    position: relative;
    text-align: center;
    background-color: rgb(117,77,180);
    margin: 10px;
    max-height: 350px;
    padding-bottom: 10px;
    opacity: .80;
    border-radius: 15px;
    overflow: scroll;
}

.height-mod {
    max-height: 250px;
}

.header-box {
    text-align: left;
    display: flex;
    justify-content: center;
}

.log-header {
    text-transform: uppercase;
    font-size: 54px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(10,0,61);
}

.h6-box {
    margin: 10px auto;
}

.h6-header {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    color: rgb(249,144,59);
}

.login-input {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(249,144,59);
    width: 260px;
    font-size: 15px;
    color: rgb(249,144,59);
}

.login-input:-webkit-autofill,
.login-input:-webkit-autofill:hover,
.login-input:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(249,144,59);
}

.login-input:focus, ::placeholder {
    color: rgb(249,144,59);
}

.register:hover{
    color: white;
}

.tiny-text {
    color: rgb(249,144,59);
    text-align: left;
    margin-left: 35px;
}

.tiny-text:hover {
    text-decoration: underline;
}

.btn {
    font-size: 15px;
    text-transform: uppercase;
    width: 120px;
    background-color: rgb(57,17,120);
    padding: 0 12px;
    color: white;
    border: none;
}

.btn:hover {
    opacity: .70;
}


.component-header {
    font-size: 24px;
    position: absolute;
    text-align: center;
    top: 20px;
    right: 40px;
    padding: 5px;
    opacity: 0.8;
    border-radius: 15px;
    background-color: rgb(79,34,141);
    color: rgb(229,124,39);
    text-transform: uppercase;
}

.nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: auto 3px;
    border-radius: 50%;
    background-color: rgb(79,34,141);
    color: rgb(229,124,39);
}

.fa-map-marker-alt {
    position: absolute;
    color: purple;
    font-size: 22px;
    transition-duration: 0.2s;
}

.map-tag {
    position: absolute;
    background-color: purple;
    width: 65px;
    border-radius: 25px;
    font-size: 15px;
    transition-duration: 0.2s;
    opacity: 0;
}

.marker-box:hover .fa-map-marker-alt {
    transform: scale(1.4) translateY(-3.5px);
    transition-duration: 0.2s;
}

.marker-box:hover .map-tag {
    transform: scale(1.4) translateY(-10px);
    transition-duration: 0.2s;
    opacity: 1;
}

#sahara-tag {
    top: 285px;
    left: 30px;
}

#stage-tag {
    top: -40px;
    left: 103px;
}

#beer-barn-tag {
    top: 255px;
    left: 90px;
}

#sahara {
    top: 310px;
    left: 55px;
}

#stage {
    top: -15px;
    left: 128px;
}

#beer-barn {
    top: 280px;
    left: 115px;
}

.icon:hover {
    opacity: .70;
}

.location-label {
    margin: 5px 15px;
}

.map-box {
    text-align: center;
    position: relative
}

img {
    border-radius: 15px;
    width: 330px;
    border-radius: 5px solid grey;
}

nav {
    z-index: 1;
    position: absolute;
    top: 580px;
    left: 30px;
    width: 260px;
    height: 80px;
    border-radius: 15px;
    background-color: rgb(119,74,181);
    opacity: .80;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-item:hover {
    opacity: .80;
    text-decoration: none;
}

p {
    color: white;
    font-size: 10px;
}

.navbar {
    padding: 0.5rem;
}

.friend-header {
    text-align: center;
    margin: 50px -10px 30px -10px;
    padding: 10px;
    color: rgb(53,34,109);
    background-color: rgb(182,156,206);
}

.friend-icon {
    position: absolute;
    top: 8px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: rgb(249,144,59);
    background-color: rgb(35,18,95);
}


.friend-box {
    display: grid;
    grid-template-columns: 50px 250px 50px;
    margin-top: 20px;
}


.friend-list {
    width: 100%;
    height: 60%;
}
  
Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.event-box {
    position: relative;
    background-color: white;
    height: 55px;
    margin: 20px 10px;
    padding: 20px auto;
    border-radius: 15px;
}

.event-box p {
    color: black;
    font-size: 20px;
}

.location-text {
    font-size: 24px;
    position: absolute;
    top: 0.5em;
    left: 5em;
}

.no-friend-text {
    font-size: 24px;
    position: absolute;
    top: 0.5em;
    left: 3em;
}

.no-user-text {
    position: absolute;
    top: 1em;
    left: 4em;
}

#friendbox {
    overflow:auto;
}

.delete-text {
    position: absolute;
    top: 70px;
    right: 40px;
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 5px;
    text-align: center;
    opacity: .50;
    border-radius: 15px;
    transition-duration: 0.2s;
    text-transform: uppercase;
}

.delete-text:hover {
    opacity: 1;
    transition-duration: 0.2s;
}